.vs
/TempOutput
*.pbf
*.list
*.poly
/splitter*/densities-out.txt
/splitter*/template.args
/splitter*/splitter.log
*.bnd
/Configs/bounds/version.txt
/Configs/sea/index.txt.gz
/Configs/sea/version.txt
/Configs/xmaptourist.typ
/Configs/xstranger.typ
/Configs/xjbm.typ
/Configs/xvelo100.typ
