.vs
/TempOutput
*.pbf
*.list
*.poly
/splitter-r653/densities-out.txt
/splitter-r653/template.args
/splitter-r653/splitter.log
*.bnd
/Configs/bounds/bounds-latest.zip.url
/Configs/bounds/version.txt
/Configs/sea/index.txt.gz
/Configs/sea/sea-latest.zip.url
/Configs/sea/version.txt
/Configs/xmaptourist.typ
