.vs
/TempOutput
/xmaptourist.typ
*.pbf
*.list
*.poly
/splitter-r653/densities-out.txt
/splitter-r653/template.args
/splitter-r653/splitter.log
*.bnd
/bounds/version.txt
/sea/index.txt.gz
/sea/version.txt
